@model SocialMediaApp.Models.ViewModels.FeedViewModel

@{
    ViewData["Title"] = "Feed";
}

<div class="d-flex justify-content-between align-items-center mb-4">

    <h2>Feed</h2>

    <a asp-controller="Posts"
       asp-action="Create"
       class="btn btn-primary">
        + Create Post
    </a>

</div>

<div class="feed-container">

    @if (!Model.Posts.Any())
    {
        <p class="text-muted">No posts yet.</p>
    }
    else
    {
        foreach (var posts in Model.Posts)
        {
            @await Html.PartialAsync("_PostItem", posts)
        }
    }

</div>
